### CPS Zones

---

System for splitting CPS into 70 geographic zones with economic and statistical significance.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

cps_dir = Path('/home/brian/Documents/CPS/data/clean/')

In [10]:
cols = ['YEAR', 'MONTH', 'ZONEERA', 'ZONE', 'PWSSWGT']
for year in list(range(1995, 2026)):
    df = (pd.read_feather(cps_dir / f'cps{year}.ft', columns=cols))
    empty = df.query('ZONE != ZONE', engine='python')
    print(f'{year}: {len(empty)}')

1995: 1113395
1996: 0
1997: 0
1998: 0
1999: 0
2000: 0
2001: 0
2002: 0
2003: 0
2004: 0
2005: 0
2006: 0
2007: 0
2008: 0
2009: 0
2010: 0
2011: 0
2012: 0
2013: 0
2014: 0
2015: 0
2016: 0
2017: 0
2018: 0
2019: 0
2020: 0
2021: 0
2022: 0
2023: 0
2024: 0
2025: 0

In [6]:
year = 2005
df = (pd.read_feather(cps_dir / f'cps{year}.ft', columns=cols))

In [8]:
df.query('ZONE != ZONE')

/tmp/ipykernel_4391/399282892.py:1: RuntimeWarning: Engine has switched to 'python' because numexpr does not support extension array dtypes. Please set your engine to python manually.
  df.query('ZONE != ZONE')

Empty DataFrame
Columns: [YEAR, MONTH, ZONEERA, ZONE, PWSSWGT]
Index: []

In [3]:
df.groupby(['ZONEERA', 'ZONE'])['MONTH'].nunique().unstack().T

/tmp/ipykernel_4391/987267434.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['ZONEERA', 'ZONE'])['MONTH'].nunique().unstack().T

ZONEERA            ERA1  ERA2  ERA3  ERA4
ZONE
ALBUQUERQUE_METRO    12     0     0     0
ATLANTA_METRO        12     0     0     0
BAYAREA_METRO        12     0     0     0
BOSTON_METRO         12     0     0     0
CHICAGO_METRO        12     0     0     0
...                 ...   ...   ...   ...
WI_BALANCE           12     0     0     0
MD_DE_BALANCE        12     0     0     0
MO_IL_BALANCE        12     0     0     0
MOUNTAIN_BALANCE     12     0     0     0
NH_ME                12     0     0     0

[70 rows x 4 columns]

In [23]:
mdata['TLWK'].fillna(0)

948396     0
948397     0
948398     0
948399     0
948400     0
          ..
1038487    0
1038488    0
1038489    0
1038490    0
1038491    0
Name: TLWK, Length: 90096, dtype: category
Categories (2, int64): [0, 1]

In [24]:
cols = ['YEAR', 'MONTH', 'ZONEERA', 'ZONE', 'PWSSWGT', 'TLWK']
for year in list(range(2022, 2026)):
    df = (pd.read_feather(cps_dir / f'cps{year}.ft', columns=cols))
    for month in np.sort(df.MONTH.unique()):
        mdata = df.query('MONTH == @month')
        tlwk = np.average(mdata['TLWK'].fillna(0), weights=mdata['PWSSWGT'])
        print(f'{year}-{month:02}-01: {tlwk * 100:.1f}')

2022-01-01: 0.0
2022-02-01: 0.0
2022-03-01: 0.0
2022-04-01: 0.0
2022-05-01: 0.0
2022-06-01: 0.0
2022-07-01: 0.0
2022-08-01: 0.0
2022-09-01: 0.0
2022-10-01: 8.4
2022-11-01: 8.7
2022-12-01: 8.9
2023-01-01: 9.1
2023-02-01: 9.4
2023-03-01: 9.2
2023-04-01: 8.7
2023-05-01: 9.0
2023-06-01: 8.9
2023-07-01: 9.2
2023-08-01: 9.1
2023-09-01: 9.4
2023-10-01: 9.4
2023-11-01: 9.8
2023-12-01: 10.3
2024-01-01: 10.4
2024-02-01: 10.7
2024-03-01: 10.8
2024-04-01: 10.2
2024-05-01: 10.3
2024-06-01: 10.4
2024-07-01: 10.5
2024-08-01: 10.6
2024-09-01: 11.3
2024-10-01: 11.2
2024-11-01: 11.0
2024-12-01: 10.9
2025-01-01: 11.0
2025-02-01: 11.1
2025-03-01: 10.7
2025-04-01: 10.2
2025-05-01: 10.2
2025-06-01: 10.1
2025-07-01: 10.2
2025-08-01: 10.3
2025-09-01: 10.5
2025-11-01: 10.9
2025-12-01: 10.6